* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #2c3e50;
    padding-top: 25px;
}

.sidebar-title {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.menu-list {
    list-style: none;
}

.menu-list li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.menu-list li a:hover {
    background-color: #243458;
    height: fit-content;
    width: fit-content;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f4f6f8;
}

.main-heading {
    text-align: center;
    margin-bottom: 40px;
    color: #2c3e50;
}

.boxes-container {
    display: flex;
    gap: 25px;
}

.box {
    flex: 1;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.box span {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}
